/* css reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
	width: 1000px;
	margin: 10% auto;
}

.clearfix, .row{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



.row-6 {
	padding: 0 5px;
	display: inline-block;
	width: 40%;
}


.row-6 img {
	width: 350px;
	height: 350px;
}


.row-6 .brand{
	margin-bottom: 15px;
	color: #7e7e7e;
	font: 22px "微軟正黑體","Microsoft JhengHei",Helvetica;
}

.row-6 .product{
	margin-bottom: 20px;
	font: bold 26px "微軟正黑體","Microsoft JhengHei",Helvetica;
}

.buy-word li {
	padding: 6px 20px;
	color: #4e4e4e;
	font: bold 16px/32px Century Gothic;
}


.prdPrice li {
	display: inline-block;
	color: #5e5e5e;
	font: 18px Century Gothic;
}

.prdPrice .special {
	height: 28px;
	color: #ff2f19;
	padding-left: 20px;
	font: 18px Century Gothic;
	letter-spacing: -1px; 
	
}

.prdPrice .price {
	height: 28px;
	color: #ff2f19;
	padding:0 15px;
	font: bold 32px/36px Century Gothic;
	letter-spacing: -1px; 
}























